* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    --denim: #1A2930;
    --screen: #C5C1C0;
    --marigold: #f7ce3e;
    --steel: #0a1612;
}

.container {
    height: 100%;
    transition: 175ms ease-in-out;
    /* color: ;   */
}

.header {
    width: 100%;
    display: flex;
    color: var(--steel);
    justify-content: space-between;
    gap: 10%;
    /* background-color: rebeccadenim; */
    height: 10%;
    box-shadow: 0px 0px 20px 15px var(--steel);
    background-color: var(--steel);
}

.lastUpdate{
    color: var(--screen);
}

.App {
    height: 100vh;
    background-color: var(--denim);
}

.blur {
    filter: blur(5px);
}

.addTokenBtn {
    padding: .5em 2em;
    margin-top: 1em;
    border: 0;
    background-color: var(--denim);
    border-radius: .5em;
    color: var(--marigold);
}

.addTokenBtn:hover {
    background: white;
    color: var(--denim);
    transition: .15s ease-in-out;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 5px var(--denim);
}

.mainBody {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    align-items: center;

}

.body {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 90%;
    /* align-items: stretch; */
    margin: auto;

}

.title {
    font-size: 1.5em;
    font-weight: 800;
    margin: auto;
    display: block;
    /* padding: 1em; */
    border-radius: 2em;
    color: var(--marigold);
}

.totalValue h3, .total{
    color: var(--marigold);
}


.information {
    /* border: 1px solid blue; */
    padding: 2em;
    margin: auto;
    background-color: var(--screen);
    border-radius: 2em;
    /* box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 1); */
    /* box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, .33); */
    box-shadow: 0px 0px 20px 10px rgb(194, 194, 194);
}

.totalValue {
    /* background-color: rgb(194, 194, 194); */
    /* box-shadow: 0px 0px 20px 10px rgb(194, 194, 194); */
    /* border-radius: 2em; */
    /* padding: 2em; */
    /* margin: 1em 8em; */
    margin: auto;
    /* width: 250px; */
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.totalValue h3 {
    font-weight: 600;
}

.token {
    display: flex;
    margin: 1em;
    gap: 1em;
    align-items: flex-end;
    justify-content: space-between;
}

.ticker {
    font-weight: 800;
}

.data {
    display: flex;
    gap: .2em;
}

.data h5 {
    color: rgb(133, 133, 133);
}

.value {
    font-weight: 600;
}

.refresh {
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: .7em;
    border-radius: 1em;
    border: 0px solid black;
    color: rgb(78, 78, 78);
    background-color: rgb(255, 255, 255, .8);
    box-shadow: 0px 0px 20px 10px rgb(194, 194, 194);

}

.icon {
    width: 2em;
    height: 2em;
}

.timestamp {
    font-weight: bold;
    margin-top: .25em;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
    /* font-size: 300; */
    color: white;
    height: 4em;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: 10;

}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}